version: "2.1"
x-logger: &logger
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"
x-common: &common
  image: darkatse/xmly-speed:latest
  build:
    context: .
    dockerfile: ./Dockerfile
  restart: always
services:
  xmly1:
    <<: [ *logger, *common ]
    container_name: xmly1
    volumes:
      - ./env/all:/all
      - ./env/env1:/env
  xmly2:
    <<: [ *logger, *common ]
    container_name: xmly2
    volumes:
      - ./env/all:/all
      - ./env/env2:/env
  xmly3:
    <<: [ *logger, *common ]
    container_name: xmly3
    volumes:
      - ./env/all:/all
      - ./env/env3:/env
  xmly4:
    <<: [ *logger, *common ]
    container_name: xmly4
    volumes:
      - ./env/all:/all
      - ./env/env4:/env
  xmly5:
    <<: [ *logger, *common ]
    container_name: xmly5
    volumes:
      - ./env/all:/all
      - ./env/env5:/env